<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amad.autotrip.mybatis.DiaryMapper">
    <resultMap id="tripPlanResultMap" type="com.example.dto.ScheduleDto">
        <id property="tripId" column="trip_id"/>
        <result property="username" column="username"/>
        <result property="place" column="place"/>
        <result property="settings" column="settings"/>
        <association property="hotel" javaType="com.example.dto.AccommodationDto">
            <result property="name" column="accommodation_name"/>
            <result property="address" column="accommodation_address"/>
            <result property="imageUrl" column="accommodation_image_url"/>
        </association>
        <collection property="activities" ofType="com.example.dto.ActivityWithDateDto">
            <result property="scheduleId" column="schedule_id"/>
            <result property="date" column="date"/>
            <result property="dateType" column="date_type"/>
            <result property="activityOrder" column="activity_order"/>
            <result property="activityType" column="activity_type"/>
            <result property="activityName" column="activity_name"/>
            <result property="activityAddress" column="activity_address"/>
            <result property="activityImageUrl" column="activity_image_url"/>
        </collection>
    </resultMap>

    <select id="findTripPlanByUsername" parameterType="string" resultMap="tripPlanResultMap">
        SELECT ts.schedule_id,
               tp.trip_id,
               tp.username,
               tp.place,
               tp.settings,
               ts.start_ymd AS date,
               'start'      AS date_type,
               ts.activity_order,
               ts.activity_type,
               ts.activity_name,
               ts.activity_address,
               ts.activity_image_url,
               a.name       AS accommodation_name,
               a.address    AS accommodation_address,
               a.image_url  AS accommodation_image_url
        FROM trip_plan tp
                 INNER JOIN trip_schedule ts ON tp.trip_id = ts.trip_id
                 LEFT JOIN accommodation a ON tp.username = a.username
            AND a.date = ts.start_ymd
        WHERE tp.username = #{username}
          AND ts.start_ymd IS NOT NULL
          AND ts.start_ymd != ''
        UNION ALL
        SELECT ts.schedule_id,
               tp.trip_id,
               tp.username,
               tp.place,
               tp.settings,
               ts.end_ymd  AS date,
               'end'       AS date_type,
               ts.activity_order,
               ts.activity_type,
               ts.activity_name,
               ts.activity_address,
               ts.activity_image_url,
               a.name      AS accommodation_name,
               a.address   AS accommodation_address,
               a.image_url AS accommodation_image_url
        FROM trip_plan tp
                 INNER JOIN trip_schedule ts ON tp.trip_id = ts.trip_id
                 LEFT JOIN accommodation a ON tp.username = a.username
            AND a.date = ts.end_ymd
        WHERE tp.username = #{username}
          AND ts.end_ymd IS NOT NULL
          AND ts.end_ymd != ''
        ORDER BY date, activity_order;
    </select>
</mapper>
