<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amad.autotrip.mybatis.ExistMapper">

    <select id="existWhereInfo" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM travel_place
        WHERE username = #{username}
    </select>

    <select id="existScheduleInfo" parameterType="String" resultType="int">
        SELECT COUNT(ts.schedule_id)
        FROM trip_plan tp
                 LEFT JOIN trip_schedule ts
                           ON tp.trip_id = ts.trip_id
        WHERE username = #{username}
    </select>

    <select id="existFinalInfo" parameterType="String" resultType="int">
        SELECT tp.final_yn
        FROM trip_plan tp
        WHERE username = #{username}

    </select>

    <select id="existUsername" parameterType="String" resultType="int">
        SELECT count(*)
        FROM trip_plan
        WHERE username = #{username}
    </select>

</mapper>
