<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amad.autotrip.mybatis.SettingMapper">

    <insert id="saveSetting" parameterType="com.amad.autotrip.dto.SettingDto">
        INSERT INTO setting (username, start_ymd, end_ymd, activity, museum, cafe, tour_att)
        VALUES (#{username}, #{startYmd}, #{endYmd}, #{activity}, #{museum}, #{cafe}, #{tourAtt})
        ON DUPLICATE KEY UPDATE start_ymd=#{startYmd},
                                end_ymd=#{endYmd},
                                activity=#{activity},
                                museum=#{museum},
                                cafe=#{cafe},
                                tour_att=#{tourAtt}
    </insert>

    <select id="findSettingByUsername" parameterType="String" resultType="com.amad.autotrip.dto.TripSummaryDto">
        SELECT T1.username
             , T1.place
             , T2.start_ymd
             , T2.end_ymd
             , T2.activity
             , T2.museum
             , T2.cafe
             , T2.tour_att
        FROM travel_place T1
                 LEFT OUTER JOIN setting T2
                                 ON T1.username = T2.username
        WHERE T2.username = #{username}
    </select>
</mapper>
