/** Breadcrumb **/
.cx-breadcrumb {
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	.cx-tools {
		> a, .filter {
			@include ease3;
			width: 35px;
			height: 35px;
			border: 1px solid $border-ddd;
			border-radius: $radius-10;
			box-shadow: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
			i {
				color: $title-color;
			}
			&:hover {
				background-color: $trans-bg;
			}
		}
		.dropdown-toggle {
			@include ease3;
			width: 35px;
			height: 35px;
			border: 1px solid $border-ddd;
			border-radius: $radius-10;
			box-shadow: none;
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				color: $title-color;
			}
			&:hover {
				background-color: $trans-bg;
			}
			.dropdown-menu {
				@include ease3;
				margin-top: 5px !important;
			}
		}
	}
	.cx-page-title {
		margin-bottom: 8px;
		h5 {
			color: $title-color;
			font-size: 28px;
			line-height: 32px;
			font-weight: 600;
		}
		ul {
			display: flex;
			li {
				margin-right: 20px;
				position: relative;
				a {
					@include ease3;
					color: $title-color;
					&:hover {
						color: $text-777;
					}
				}
				&:not(:first-child) {
					&:after {
						content: "\ea6e";
						font-family: "remixicon" !important;
						font-style: normal;
						-webkit-font-smoothing: antialiased;
						position: absolute;
						top: 0;
						left: -17px;
					}
				}
			}
		}
	}
	.cx-page-title-2 {
		width: 100%;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h5 {
			margin-bottom: 0;
			color: $title-color;
			font-size: 28px;
			line-height: 32px;
			font-weight: 600;
		}
		ul {
			display: flex;
			li {
				margin-right: 20px;
				position: relative;
				a {
					@include ease3;
					color: $title-color;
					&:hover {
						color: $text-777;
					}
				}
				&:not(:first-child) {
					&:after {
						content: "\ea6e";
						font-family: "remixicon" !important;
						font-style: normal;
						-webkit-font-smoothing: antialiased;
						position: absolute;
						top: 0;
						left: -17px;
					}
				}
			}
		}
	}
	.cx-tools {
		margin-bottom: 8px;
		display: flex;
		align-items: center;
	}
}


/* Responsive css */
@media only screen and (max-width: 575px) {
	.cx-breadcrumb {
		.cx-page-title {
			h5{
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.cx-breadcrumb {
		.cx-page-title-2{
			flex-direction: column;
			align-items: flex-start;
			h5{
				margin-bottom: 10px;
			}
		}
	}
}
