/** Cards **/
.cx-card {
	margin-bottom: 30px;
	padding: 30px;
	background-color: #fff;
	border-radius: $radius-15;
	border: 1px solid $border-light;
	box-shadow: $box-shadow;

	.cx-card-header {
		margin-bottom: -8px;
		padding-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h4 {
			margin-bottom: 0;
			color: $title-color;
			font-family: $font-family-title;
			font-size: 22px;
			font-weight: 600;
			line-height: 24px;
			text-transform: capitalize;
		}
	}

	.header-tools {
		margin-bottom: 0;
		display: flex;
		align-items: center;

		.link,
		.cx-full-card {
			width: 30px;
			height: 30px;
			border: 1px solid $border-ddd;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius-10;
			user-select: none;
			background: #fff;

			i {
				color: $title-color;
			}

			&:hover {
				background-color: $trans-bg;
			}
		}

		.button-add {
			height: 30px;
			padding: 0 10px;
			border: 1px solid $border-ddd;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius-10;
			user-select: none;
			color: $title-color;
			font-size: 14px;
			font-weight: 500;

			i {
				color: $title-color;
				font-size: 16px;
				font-weight: 800;
			}

			&:hover {
				background-color: $trans-bg;
			}
		}

		.icon {
			width: 30px;
			height: 30px;
			border: 1px solid $border-ddd;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius-10;
			user-select: none;
			background: #fff;

			&:hover {
				background-color: $trans-bg;
			}

			i {
				color: $title-color;
			}
		}

		.cx-date-range {
			@include ease3;
			padding: 5px 10px;
			border: 1px solid $border-ddd;
			border-radius: $radius-10;
			color: $text-777;
			font-size: 12px;
			cursor: pointer;
			user-select: none;
			&:hover {
				background-color: $trans-bg;
			}
		}
	}

	.cx-card-content {
		.table-responsive {
			@include lightscrollbar;
		}
		.deal-table {
			.table-responsive {
				@include lightscrollbar;
			}
		}
		.cx-chart-header {
			padding: 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			background-color: $card-bg;
			border-radius: 5px;
			border-radius: $radius-15;
			border: 1px solid #eee;

			.block {
				padding: 10px;
				text-align: center;

				h6 {
					color: $text-777;
					font-size: 15px;
				}

				h5 {
					margin: 0;
					color: $title-color;
					font-weight: 600;
					font-size: 18px;

					span {
						font-size: 12px;
						font-weight: 400;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						line-height: 19px;
					}

					.up {
						color: #2bbb93;
					}

					.down {
						color: #f90c4c;
					}
				}
			}
		}
	}
}

.pay-card {
	padding: 30px;
	background-color: #fce393;
	border-radius: $radius-15;
	position: relative;
	overflow: hidden;
	box-shadow: $box-shadow;

	&:after {
		content: "";
		width: 150px;
		height: 150px;
		background-color: #ffebab;
		position: absolute;
		top: -70px;
		right: -30px;
		transform: rotate(135deg);
		border-radius: $radius-15;
		z-index: 0;
	}

	&:before {
		content: "";
		width: 200px;
		height: 200px;
		background-color: #fce393;
		background-image: linear-gradient(135deg, #fff0be, #fce393);
		position: absolute;
		bottom: -70px;
		left: -30px;
		transform: rotate(315deg);
		border-radius: $radius-15;
		z-index: 1;
	}

	.card-shape {
		position: relative;
		display: block;

		&:after {
			content: "";
			width: 150px;
			height: 150px;
			background-color: transparent;
			border: 3px solid #fae8ac;
			position: absolute;
			bottom: -100px;
			right: -15px;
			border-radius: 50%;
			z-index: 0;
		}

		&:before {
			content: "";
			width: 210px;
			height: 210px;
			background-color: transparent;
			border: 3px solid #fae8ac;
			position: absolute;
			bottom: -130px;
			right: -45px;
			border-radius: 50%;
			z-index: 0;
		}
	}

	.card-logo {
		height: 40px;
		margin-bottom: 30px;
		display: block;
		position: relative;

		&:after {
			content: "";
			width: 40px;
			height: 40px;
			background-color: $trans-bg;
			position: absolute;
			left: 0;
			border-radius: 50%;
		}

		&:before {
			content: "";
			width: 40px;
			height: 40px;
			background-color: $trans-bg;
			position: absolute;
			left: 22px;
			border-radius: 50%;
		}
	}

	h2 {
		color: $title-color;
		font-weight: 700;
		font-size: 28px;
		line-height: 28px;
		position: relative;
		z-index: 2;
	}

	h6 {
		color: $title-color;
		font-size: 14px;
		position: relative;
		z-index: 2;
	}

	p {
		margin: 0;
		color: $text-777;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		position: relative;
		z-index: 2;
	}

	.pay-detail {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;
	}
}

.cx-card-content {
	.table-responsive {
		@include lightscrollbar;
	}
}

.cx-card.ecom {
	position: relative;
	overflow: hidden;

	&:hover {
		&:after {
			top: -110px;
			right: -190px;
		}

		&:before {
			top: -190px;
			right: -110px;
		}
	}

	.cx-card-content {
		position: relative;
		z-index: 10;
	}

	&:after {
		@include ease3;
		content: "";
		width: 300px;
		height: 300px;
		background-color: $trans-bg;
		position: absolute;
		right: -180px;
		top: -120px;
		border-radius: 50%;
		z-index: 0;
		opacity: 0.45;
	}

	&:before {
		@include ease3;
		content: "";
		width: 300px;
		height: 300px;
		background-color: $trans-bg;
		position: absolute;
		right: -120px;
		top: -180px;
		border-radius: 50%;
		z-index: 0;
		opacity: 0.45;
	}
}

.card-1 {
	background-color: #fff2cf;

	h4 {
		color: #edd595 !important;
	}
}

.card-2 {
	background-color: #b6fbf9;

	h4 {
		color: #7ad5cb !important;
	}
}

.card-3 {
	background-color: #ffd9e4;

	h4 {
		color: #dfafbd !important;
	}
}

.card-4 {
	background-color: #e5e5f9;

	h4 {
		color: #adadd2 !important;
	}
}

.card-5 {
	background-color: #fff2cf;

	h4 {
		color: #edd595 !important;
	}
}

.light-card {
	height: 100vh;
	background-color: #fff;
}

.cx-label-card {
	padding: 30px;
	border: 5px solid #fff;

	.title {
		display: flex;
		justify-content: space-between;

		.icon {
			width: 50px;
			height: 50px;
			padding: 5px;
			background-color: $trans-bg;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius-15;

			i {
				font-size: 25px;
				color: $title-color;
			}
		}

		.growth-numbers {
			display: flex;
			flex-direction: column;
			justify-content: center;
			h4 {
				margin-bottom: 10px;
				font-family: $font-family-text;
				font-size: 30px;
				line-height: 45px;
				font-weight: 700;
				color: $title-color;
			}

			h5 {
				margin-bottom: 10px;
				font-family: $font-family-title;
				color: $title-color;
				font-size: 15px;
				font-family: "Poppins, sans-serif";
				font-weight: 500;
			}
		}
	}
}

.cx-label-card.sub-card {
	.title {
		.icon {
			margin-right: 15px;
		}
	}

	.growth-numbers {
		h4 {
			margin: 0;
			font-size: 18px;
			line-height: 18px;
			text-align: right;
		}

		h5 {
			font-size: 14px;
			font-weight: 400;
			text-align: right;
		}
	}
}
.return-card {
	background-image: url("../img/other/2.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	h6 {
		margin: 0;
		font-size: 22px;
		font-weight: 700;
	}
	p {
		margin: 0;
	}
}
.sub-card {
	padding: 30px;
	background-color: #fff;
	border-radius: $radius-15;
	box-shadow: $box-shadow;
	border: 1px solid $border-light;

	.header-tools {
		display: flex;
		align-items: center;

		.link,
		.cx-full-card {
			width: 30px;
			height: 30px;
			border: 1px solid $border-ddd;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius-10;
			user-select: none;
			background: #fff;

			i {
				color: $title-color;
			}

			&:hover {
				background-color: $trans-bg;
			}
		}
	}

	.cx-card-header {
		padding-bottom: 30px;
		display: flex;
		justify-content: space-between;

		i {
			color: $title-color;
		}

		h4 {
			margin-bottom: 0;
			color: #313b50;
			font-family: "Nunito", sans-serif;
			font-size: 22px;
			font-weight: 600;
			line-height: 24px;
		}
	}
}

.cx-chart-header-2 {
	padding: 15px;
	border: 1px solid #eee;
	border-radius: $radius-15;
	background: $card-bg;

	.block {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		h6 {
			margin: 0;
			color: #777;
			font-size: 14px;
		}

		h5 {
			margin: 0;
			color: #485568;
			font-weight: 600;
			font-size: 17px;

			span {
				margin-right: 10px;
			}

			.up {
				color: #2bbb93;
			}

			.down {
				color: #f90c4c;
			}
		}
	}
}

.cx-statistics {
	margin: -15px;

	.label-cards,
	.ecom-label-cards {
		.owl-stage-outer {
			.owl-item {
				padding: 15px;
			}
		}
	}
}

.cx-card-body {
	.product-list,
	.seller-list {
		margin-bottom: -10px;

		li {
			@include ease3;
			margin-bottom: 10px;
			padding: 15px;
			display: flex;
			background: #fff;
			border-radius: $radius-15;
			display: flex;
			justify-content: space-between;
			border: 1px solid #eee;

			.product-detail {
				display: flex;

				img {
					width: 50px;
					height: 50px;
					margin-right: 15px;
					border-radius: $radius-15;
				}

				h6 {
					font-size: 15px;
					color: $title-color;
					font-weight: 600;
				}

				p {
					margin: 0;
					line-height: 14px;
				}
			}

			> a {
				width: 30px;
				height: 30px;
				background-color: transparent;
				border-radius: $radius-10;
				display: flex;
				align-self: center;
				justify-content: center;
				color: $title-color;
				border: 1px solid $border-ddd;

				i {
					line-height: 29px;
				}

				&:hover {
					background-color: $trans-bg;
				}
			}

			.detail {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				a {
					margin-bottom: 8px;
					font-size: 15px;
					color: $title-color;
					font-weight: 600;
					display: flex;
				}
			}

			.sale {
				width: 50px;
				height: 50px;
				background-color: $card-bg;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border: 1px solid $border-eee;
				border-radius: $radius-15;

				h6 {
					margin-bottom: 5px;
					text-transform: capitalize;
					font-size: 13px;
					color: $title-color;
					font-weight: 500;
					font-family: $font-family-text;
				}

				p {
					margin: 0;
					font-size: 12px;
					line-height: 12px;
				}
			}
		}
	}
}

.owl-carousel.label-cards,
.owl-carousel.ecom-label-cards {
	&:hover {
		.owl-nav {
			opacity: 1;
		}
	}

	.owl-nav {
		@include ease3;
		opacity: 0;

		button {
			position: absolute;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
			border: 1px solid #f2f2f2;
			border-radius: $radius-15;
			box-shadow: $box-shadow;
			opacity: 1;
			margin-top: auto;
			margin-bottom: auto;
			top: calc(50% - 15px);
			transform: translateY(-50%);
			cursor: pointer;

			i {
				color: $title-color;
				font-size: 20px;
			}
		}

		.disabled {
			i {
				color: $text-999;
			}
		}

		.owl-prev {
			left: -4px;
		}

		.owl-next {
			right: -4px;
		}
	}
}

.cx-chart-detail {
	height: 100%;
	margin: 0 0 -10px 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	li {
		width: 100%;
		padding: 10px 0;
		display: flex;
		justify-content: space-between;

		.name {
			font-size: 14px;
			font-weight: 600;
			color: $title-color;
		}
	}
}

.cx-card-content {
	.assign-table {
		.table-responsive {
			@include scrollbar;
		}
	}
}

.activity-list {
	ul {
		margin: 0;
		padding: 0;
		position: relative;
		cursor: default;

		li {
			padding-left: 15px;

			&:not(:last-child) {
				margin-bottom: 30px;
			}

			&:before {
				content: "";
				width: 1px;
				height: 100%;
				border-left: 2px dashed $border-ddd;
				position: absolute;
				top: 0;
				left: -5px;
			}

			.title {
				margin: 15px 0 5px 0;
				font-size: 14px;
				color: $title-color;
				font-weight: 500;
			}

			.detail {
				margin-bottom: 0;
				font-size: 13px;
				color: $text-777;
				font-weight: 300;
			}

			.date-time.warn {
				color: #ff4f7f;
			}

			.date-time {
				width: max-content;
				padding: 6px 15px;
				background-color: $trans-bg;
				color: $blue;
				border-radius: $radius-10;
				font-size: 15px;
				font-weight: 500;
				position: relative;
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				&:before {
					content: "";
					width: 21px;
					height: 2px;
					border-top: 2px dashed $border-ddd;
					position: absolute;
					top: 50%;
					left: -20px;
					transform: translatey(-50%);
				}

				.time {
					margin-left: 10px;
					font-size: 11px;
					line-height: 22px;
					color: $text-777;
					font-weight: 400;
					position: relative;
				}
			}
		}
	}
}

.todo-list {
	.form-group {
		display: block;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px dashed $border-ddd;
		}

		&:hover {
			.todo-settings {
				opacity: 1;
			}
		}

		span {
			padding-left: 25px;
			font-size: 14px;
			color: $title-color;
			font-weight: 400;
		}

		label {
			margin: 0;
			position: relative;
			cursor: pointer;
			user-select: none;
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			line-height: 22px;
			color: $text-777;

			&:before {
				@include ease3;
				content: "";
				width: 17px;
				height: 17px;
				margin: 0 10px 0 0;
				background-color: $trans-bg;
				box-shadow: none;
				border-radius: $radius-15;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				cursor: pointer;
				border: 1px solid $title-color;
				position: absolute;
				top: 3px;
				left: 0;
			}

			&:after {
				@include ease3;
			}

			&:hover {
				&:after,
				&:before {
					transform: scale(1.1);
				}
			}

			span {
				width: 100%;
				padding-right: 15px;
				display: block;
			}

			.date-time {
				margin-top: 5px;
				font-size: 11px;
				font-weight: 400;
				color: $text-999;
				text-align: right;
			}
		}

		input {
			padding: 0;
			height: initial;
			width: initial;
			margin-bottom: 0;
			display: none;
			cursor: pointer;

			&:checked + label:after {
				content: "";
				width: 17px;
				height: 17px;
				display: block;
				position: absolute;
				top: 3px;
				left: 0px;
				border-radius: $radius-15;
				background-color: $main-primary-color;
				border: 1px solid $title-color;
			}
		}
	}
}

.cx-sticky {
	position: sticky;
	top: 30px;
}

/* Responsive css */
@media only screen and (max-width: 1399px) {
	.sub-card.return-card {
		height: 188px;
	}
	.cx-card-body {
		.seller-list {
			li {
				padding: 17px 15px;
			}
		}
	}
}
@media only screen and (max-width: 1399px) {
	.sub-card.return-card {
		height: auto;
	}
}
@media only screen and (max-width: 767px) {
	.cx-card {
		.cx-card-content {
			.cx-chart-header {
				.block {
					width: 50%;
				}
			}
		}
	}
}
@media only screen and (max-width: 575px) {
	.owl-carousel.label-cards,
	.owl-carousel.ecom-label-cards {
		.owl-nav {
			.owl-prev {
				left: 15px;
			}

			.owl-next {
				right: 15px;
			}
		}
	}
	.pay-card {
		padding: 15px;
	}
	.cx-card {
		.cx-card-header {
			h4 {
				font-size: 18px;
			}
		}
		.cx-card-content {
			.cx-chart-header {
				padding: 0;
			}
		}
	}
	.sub-card {
		padding: 15px;
		.cx-card-header {
			h4 {
				font-size: 18px;
			}
		}
	}
	.cx-card {
		padding: 15px;
	}
	.cx-label-card {
		.title {
			.growth-numbers {
				h4 {
					font-size: 22px;
					line-height: 22px;
				}
			}
		}
	}
	.cx-label-card.sub-card {
		.growth-numbers {
			h4 {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}
}
@media only screen and (max-width: 380px) {
	.cx-card-body {
		.product-list, .seller-list {
			li {
				.product-detail {
					flex-direction: column;
					.detail {
						margin-top: 15px;
					}
				}
			}
		}
	}
}
