/* Modal General */
.modal-content {
    background-color: $card-bg;
    border: 0;
    border-radius: $radius-15;
    .modal-header {
        background-color: $trans-bg;
        border: 0;
    }
    .modal-title {
        margin-bottom: 0;
        color: #4b475a;
        font-family: $font-family-title;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }
    .btn-close {
        @include ease3;
        width: 15px;
        height: 15px;
        padding: 0;
        background : #ff4e4e;
        border-radius: $radius-20;
        position: absolute;
        right: 24px;
        &:hover {
            transform: scale(1.1);
        }
    }
    input, .form-select, textarea {
        border-color: $border-ddd !important;
    }
    .assign-list {
        user-select: none;
        .form-check {
            padding: 0;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        img {
            width: 35px;
            margin-right: 10px;
            border-radius: $radius-15;
        }
        .form-check-input {
            padding: 8px;
            margin-right: 10px;
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }
        .form-check-label {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            color: $text-777;
            &:before {
                content:'';
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $border-ddd;
                padding: 8px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
                border-radius: 7px;
              }
          }
        .form-check-input:checked + .form-check-label:after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: 6px;
            width: 6px;
            height: 11px;
            border: solid $title-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
          select {
            &:focus {
                border: 0;
                outline: 0;
                box-shadow: none !important;
            }
          }
    }
}
