/** Calendar css **/
#cx_calendar {
    overflow: auto;
    table {
        min-width: 800px;
        tr {
            .fc-day {
                height: 100px;
            }
        }
    }
}
.fc-view-harness {
    min-height: 650px;
}
.fc-header-toolbar {
    button {
        background-color: transparent !important;
        border: 1px solid #ddd !important;
        color: $title-color !important;
        text-transform: capitalize !important;
        &:focus{
            box-shadow: none !important;
        }
        &:hover {
            background-color: $trans-bg !important;
        }
    }
    .fc-button-active {
        background-color: $main-primary-color !important;
        color: $title-color !important;
        &:hover {
            background-color: $main-primary-color !important;
        }
    }
}
.fc-toolbar-title {
    font-size: 21px !important;
    font-family: $font-family-text;
    font-weight: 500;
}
.fc {
    .fc-col-header-cell-cushion {
        color: $title-color !important;
        font-weight: 500;
    }
    .fc-button{
        border-radius: 15px;
    }
    .fc-daygrid-more-link {
        margin-top: -5px;
        color: $text-777;
    }
}
.fc-h-event {
    padding: 5px 10px;
    background-color: $trans-bg !important;
    border: 1px solid $border-ddd;
    .fc-event-main {
        color: $title-color !important;
    }
}
.fc-daygrid-day-top {
    a {
        color: $title-color !important;
    }
}

/* Responsive css sidebar */
@media only screen and (max-width: 640px) {
    .fc-header-toolbar{
        flex-wrap: wrap;
        justify-content: center !important;
        margin-bottom: 0 !important;
        .fc-toolbar-chunk{
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}