/**  Product list page  **/
.category-list {
    ul {
        margin: -15px 0;
    }

    .category-item {
        .item {
            width: 100%;
            font-size: 18px;
            color: $title-color;

            a {
                padding: 15px 0;
                font-size: 16px;
                color: $title-color;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-transform: capitalize;
            }

            span {
                i {
                    margin-right: 5px;
                    font-size: 20px;
                }
            }

            i {
                font-size: 20px;
            }
        }

        .drop-list {
            margin: 6px 0;
            padding: 15px;
            background-color: $card-bg;
            border-radius: $radius-15;
            border: 1px solid $border-eee;

            li {
                a {
                    padding: 5px 0;
                    font-size: 14px;
                    color: $text-777;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: capitalize;

                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .category-item.active {
        .drop-list {
            display: block;
        }
    }
}

/**  Add / Update product page  **/
.cx-product-uploads {
    .cx-vendor-img-upload {
        margin-bottom: -10px;
        position: sticky;
        top: 94px;
    }

    .avatar-upload {
        margin-bottom: 10px;
        position: relative;

        .avatar-edit {
            position: absolute;
            right: 25px;
            z-index: 1;
            top: 25px;

            input {
                width: 40px;
                height: 40px;
                padding: 0;
                border-radius: $radius;
                position: absolute;
                opacity: 0;
                z-index: 1;
            }

            input+label {
                @include ease3;
                width: 40px;
                height: 40px;
                padding: 10px;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $radius-15;
                background: $fff;
                border: 1px solid $border-eee;
                cursor: pointer;
                font-weight: normal;

                i {
                    font-size: 20px;
                }
            }
        }

        .avatar-preview {
            width: 100%;
            height: 100%;
            padding: 15px;
            position: relative;
            border: 1px solid $border-eee;
            border-radius: $radius-15;

            >div {
                width: 100%;
                height: 100%;
                display: flex;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .imagePreview {
                img {
                    margin: auto;
                    vertical-align: middle;
                    max-width: 100%;
                    border-radius: $radius-15;
                }
            }
        }
    }

    .cx-vendor-main-img {
        .thumb-upload-set {
            display: inline-flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            .thumb-upload {
                margin: 2px 7px 10px 7px;
                position: relative;
                z-index: 1;
                overflow: hidden;
                display: inline-block;

                .thumb-edit {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 1;
                    cursor: pointer;

                    input {
                        opacity: 0;
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        border-radius: 50%;
                        position: absolute;
                        z-index: 1;
                        cursor: pointer;
                    }

                    input+label {
                        @include ease3;
                        width: 30px;
                        height: 30px;
                        margin-bottom: 0;
                        padding: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: $radius-10;
                        background: $fff;
                        border: 1px solid $border-eee;
                        cursor: pointer;
                        font-weight: normal;
                        cursor: pointer;

                        i {
                            font-size: 15px;
                        }
                    }
                }

                .thumb-preview {
                    padding: 2px;
                    position: relative;
                    border: 1px solid $border-eee;
                    border-radius: $radius-15;

                    >div {
                        width: 80px;
                        height: 80px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                        max-width: 100%;
                        border-radius: 12px;
                    }
                }
            }
        }
    }

    input[type=color] {
        width: 25px !important;
        height: 25px !important;
        padding: 0;
        border-radius: $radius-15;
        border-radius: 0 !important;
        display: inline-flex;
        margin: 4px;
        min-height: 25px;
        border: 0;
    }

    .color-label {
        width: 100%;
    }
}

/**  Tags and skills input  **/
.bootstrap-tagsinput {
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid $border-eee;
    display: inline-block;
    color: $text-777;
    vertical-align: middle;
    border-radius: $radius-15;
    line-height: 22px;
    cursor: text;

    input {
        border: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 5px;
        margin: 0;
        width: auto;
        max-width: inherit;

        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        &::-webkit-input-placeholder {
            color: $text-999;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: $text-999;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: $text-999;
            opacity: 1;
        }

        &::-ms-input-placeholder {
            color: $text-999;
            opacity: 1;
        }

        &::placeholder {
            color: $text-999;
            opacity: 1;
        }
    }

    .tag {
        margin-right: 2px;
        color: $text-777;

        [data-role=remove] {
            margin: 0 5px;
            cursor: pointer;
            color: #ff5454;

            &:after {
                content: "×";
                padding: 0px 2px;
            }

            &:hover {
                -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

                &:active {
                    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                }
            }
        }
    }
}

.tag-list {
    margin: 0px -10px 15px -10px;
    display: flex;
    flex-wrap: wrap;
    li {
        margin: 10px;
        a{
            margin: 2px;
            padding: 5px 10px;
            border: 1px solid $border-eee;
            border-radius: $radius-10;
            background-color: #fff;
            color: $text-777;
            &:hover {
                background-color: $trans-bg;
            }
        }
    }
}

.select-color {
    display: flex;

    input {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        padding: 2px;
        border-radius: 10px;
    }
}

.form-checkbox-box {
    display: flex;
}

.form-check {
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;

    a {
        font-size: 14px;
        color: #222;
        font-weight: 500;
    }

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        cursor: pointer;
        color: $text-777;
        font-size: 14px;

        &:before {
            content: '';
            margin-top: -2px;
            padding: 9px;
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $border-ddd;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            display: inline-block;
            position: relative;
            vertical-align: middle;
            border-radius: $radius-5;
            cursor: pointer;
            margin-right: 5px;
        }
    }

    input:checked+label:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 7px;
        width: 6px;
        height: 11px;
        border: solid $title-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

/**  Product Detail  **/
.single-pro-img {
    position: relative;
    width: 40%;

    .single-product-scroll {
        padding: 15px;
        position: sticky;
        top: 30px;
        background: #fff;
        border-radius: $radius-15;
        border: 1px solid $border-eee;
    }
}

.single-pro-inner {
    .single-pro-desc {
        width: 60%;
    }
}

.img-responsive {
    width: 100% !important;
    max-width: 100% !important;
    display: block;
    border: 1px solid #eee;
    border-radius: $radius-15;
}

.single-pro-inner {
    .single-nav-thumb {
        &:hover {
            .slick-arrow {
                opacity: 1;
            }
        }

        .slick-list {
            margin: 0 -10px;
        }

        .single-slide {
            padding: 11px 11px 0 11px;
            display: block !important;
        }

        .slick-active.slick-current {
            .img-responsive {
                border: 1px solid $main-primary-color;
            }
        }

        .slick-arrow.slick-next {
            right: 0;
            left: auto;

            &:before {
                content: "\ea6e";
                font-family: "remixicon";
                font-size: 20px;
                color: $title-color;
            }
        }

        .slick-arrow.slick-prev {
            left: 0;
            right: auto;

            &:before {
                content: "\ea64";
                font-family: "remixicon";
                font-size: 20px;
                color: $title-color;
            }
        }

        .slick-arrow {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            top: 57%;
            left: auto;
            right: auto;
            font-size: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: translateY(-50%);
            opacity: 0;

            &:before {
                content: "";
                color: #777;
                position: relative;
                font-size: 30px;
                font-family: "remixicon";
                width: 100%;
                line-height: 30px;
                height: 30px;
            }
        }
    }
}

.single-pro-content {
    .cx-single-title {
        color: $title-color;
        font-size: 22px;
        text-transform: capitalize;
        margin: 0 0 20px 0;
        text-decoration: none;
        display: block;
        font-family: "Poppins, sans-serif";
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0.02rem;
    }

    .cx-single-rating-wrap {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .cx-single-rating {
        padding-right: 15px;
        line-height: 17px;

        i {
            font-size: 17px !important;
        }

        .ri-star-s-fill {
            color: #f27d0c;
        }

        .ri-star-s-line {
            color: #b2b2b2;
            font-size: 14px;
        }
    }

    .cx-read-review {
        color: #999;

        a {
            color: #999;
            font-size: 13px;
        }
    }

    .cx-single-price-stoke {
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;

        >* {
            display: flex;
            flex-direction: column;
        }

        .final-price {
            margin-bottom: 15px;
            color: #4b5966;
            font-weight: 600;
            font-size: 22px;
            line-height: 32px;
            font-family: "Poppins, sans-serif";
            letter-spacing: 0;

            .price-des {
                margin-left: 15px;
                color: #999;
                font-size: 15px;
            }
        }

        .mrp {
            color: #777;

            span {
                text-decoration: line-through;
            }
        }

        .cx-single-sku {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 32px;
            color: #4b5966;
            font-weight: 600;
        }

        .cx-single-ps-title {
            line-height: 1;
            font-size: 16px;
            color: #5caf90;
            letter-spacing: 0;
        }
    }

    .cx-single-desc {
        margin-bottom: 30px;
        color: #777;
        font-size: 14px;
        letter-spacing: 0;
        word-break: break-all;
        line-height: 28px;
        font-family: "Poppins, sans-serif";
    }

    .cx-single-list {
        ul {
            margin-bottom: 30px;
            padding-left: 18px;

            li {
                margin: 10px 0;
                color: #777;
                font-size: 14px;
                list-style: circle;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    .cx-pro-variation {
        margin-bottom: 20px;
        padding-bottom: 5px;

        .cx-pro-variation-inner {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            color: #4b5966;
            flex-direction: column;
            display: flex;

            >span {
                margin: 0 0 10px;
                color: #202020;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.1;
                letter-spacing: 0.04rem;
                text-transform: uppercase;
                font-family: "Poppins, sans-serif";
            }

            li {
                transition: all 0.3s ease-in-out;
                margin-right: 10px;
                padding: 5px 10px;
                cursor: pointer;
                background-color: #fff;
                color: #777;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                line-height: 22px;
                border: 1px solid #eee;
                float: left;
                border-radius: $radius-10;
            }

            li.active {
                color: $title-color !important;
                font-weight: 600;
                border-color: $main-primary-color !important;
            }
        }
    }
}

.cx-single-pro-tab {
    .nav-tabs {
        margin: 0 -5px;
        border: 0;
    }

    .nav-item {
        margin-bottom: 10px;

        .nav-link {
            margin: 0 5px;
            background-color: #fff;
            color: $title-color;
            border: 1px solid $border-eee;
            border-radius: $radius-10;
        }

        .nav-link.active {
            border-color: $main-primary-color;
            color: $title-color !important;
        }
    }

    .tab-content {
        padding: 30px;
        border: 1px solid $border-eee;
        border-radius: $radius-15;
        background: #fff;

        li {
            padding: 10px 0;
        }
    }
}

.cx-single-pro-tab-content {
    .cx-product-vendor {
        .cx-vendor-info {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;

            img {
                width: 80px;
                margin-right: 15px;
                border: 1px solid #eee;
                border-radius: $radius-15;
            }

            h5 {
                font-size: 15px;
                font-weight: 600;
                color: #4b5966;
            }

            p {
                margin-bottom: 0;
            }
        }

        .cx-detail {
            ul {
                margin-bottom: 15px;
                margin-left: 17px;

                li {
                    margin-bottom: 4px;
                    padding: 10px 0;
                    font-size: 15px;
                    list-style: outside;
                    color: #777;

                    span {
                        margin: 0 15px 0 0;
                        font-size: 15px;
                        color: #4b5966;
                        display: inline-block;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .cx-t-review-item {
        display: flex;
        margin: 0 0 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #eee;

        .cx-t-review-avtar {
            flex: 0 0 50px;
            margin: 0 15px 0 0;

            img {
                max-width: 80px;
                border-radius: $radius-15;
            }
        }

        .cx-t-review-top {
            display: flex;
            flex-direction: column;
            margin: 0 0 10px;

            i.ri-star-s-fill {
                color: #f27d0c;
            }

            i.ri-star-s-line {
                color: #b2b2b2;
            }

            .cx-t-review-name {
                margin-bottom: 25px;
                font-size: 15px;
                margin: 0;
                line-height: 1.5;
                font-weight: 500;
                display: block;
                color: #4b5966;
            }

            .cx-t-review-rating {
                font-size: 16px;
                margin-top: 5px;
            }
        }

        .cx-t-review-bottom {
            p {
                margin: 0;
            }
        }
    }

    .cx-ratting-content {
        h3 {
            margin: 0 0 10px 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            color: $title-color;
        }

        .cx-ratting-form {
            .cx-ratting-star {
                display: flex;
                margin: 5px 0 25px;
                align-items: center;

                span {
                    margin: 0 18px 0 0;
                    font-size: 16px;
                    color: #777;
                }

                .cx-t-review-rating {
                    i {
                        font-size: 20px;
                    }

                    i.ri-star-s-fill {
                        color: #f27d0c;
                    }

                    i.ri-star-s-line {
                        color: #b2b2b2;
                    }
                }
            }

            input,
            textarea {
                width: 100%;
                margin-bottom: 15px;
                padding: 15px;
                border-radius: $radius-15;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                &::placeholder {
                    color: $text-999;
                }
            }
        }
    }
}

/* Responsive css */
@media only screen and (max-width: 1199px) {
    .form-check{
        padding-left: 0;
    }
    .form-check-inline{
        margin-right: 25px;
    }
}
@media only screen and (max-width: 1199px) {
    .single-pro-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .single-pro-inner {
        .single-pro-desc{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 575px) {
    .cx-single-pro-tab {
        .tab-content{
            padding: 15px;
        }
    }
    .single-pro-content {
        .cx-single-title{
            font-size: 18px;
        }
    }
    .cx-single-pro-tab-content {
        .cx-ratting-content {
            .cx-ratting-form {
                .cx-ratting-star{
                    display: block;
                }
            }
        }
        .cx-t-review-item{
            display: block;
            .cx-t-review-top {
                margin: 0;
                .cx-t-review-rating{
                    margin-top: 0;
                }
            }
            .cx-t-review-avtar{
                margin: 0 0 15px 0;
            }
        }
    }
    .form-checkbox-box{
        flex-wrap: wrap;
    }
}