/** Todo page css **/
.todo-list {
    .cx-task-assig {
        padding: 0;
        margin: 0;
        img {
            width: 35px;
            height: 35px;
            margin-right: 15px;
            border-radius: $radius-15;
        }
        li {
            &:not(:last-child){
                margin-bottom: 10px;
            }
            span {
                font-size: 14px;
                color: $text-777;
            }
        }
    }
    .accordion-button {
        background-color: transparent;
        color: $title-color;
        font-size: 15px;
        font-weight: 500;
        font-family: $font-family-text;
        &:after {
            content: "\ea4e";
            background-image: none;
            font-family: remixicon !important;
            font-size: 18px;
        }
        &:not(.collapsed) {
            background-color: $trans-bg;
            box-shadow: none;
            color: $title-color;
            border-bottom: 1px solid $border-ddd;
            border-radius: $radius-15 $radius-15 0 0 !important;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .accordion-body {
        padding: 15px;
    }
    .accordion-item {
        margin: 5px 0;
        border: 0;
        border-radius: $radius-15;
            background-color: $trans-bg;
        &:first-of-type {
            border-radius: $radius-15;
            .accordion-button {
                border-radius: $radius-15;
            }
        }
        &:last-of-type {
            border-radius: $radius-15;
            .accordion-button {
                border-radius: $radius-15;
            }
        }
    }
}
.todo-list.project-list {
    .form-group {
        padding-right: 40px;
        span {
            padding: 0;
        }
        .dropdown {
            position: absolute;
            top: 0;
            right: 0;
            button {
                width: 35px;
                height: 35px;
                padding: 0;
                border: 1px solid $border-ddd;
                border-radius: $radius-10;
                background-color: transparent;
                i {
                    color: $title-color;
                }
                &:hover {
                    background-color: $trans-bg;
                }
            }
        }
    }
}
.assign-table {
    .assign-person {
        a{
            position: relative;
            z-index: 1;
            @include ease3;
            &:not(:first-child) {
                margin-left: -15px;
            }
            &:hover {
                z-index: 5;
                img {
                    transform: scale(1.1)
                }
            }
        }
        img{
            @include ease3;
            margin: 0;
            border-radius: $radius-15;
            border: 2px solid $fff;
        }
    }
}