/** Header css **/
.cx-header.sb-hide {
	width: calc(100% - 60px);
	margin: 0 30px 0 30px;
}
.cx-header {
	@include ease3;
	width: calc(100% - 360px);
	margin: 0 30px 0 330px;
	padding: 30px;
	background-color: $fff;
	border-radius: 0 0 $radius-15 $radius-15;
	display: flex;
	align-items: center;
	box-shadow: $box-shadow;
	border: 1px solid $border-light;
	border-top: 0;
	.cx-header-items {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left-header {
			display: flex;
		}
		.right-header {
			.cx-header-logo{
				display: none;
			}
			.inner-right-header{
				display: flex;
				align-items: center;
				.cx-hover-tool {
					img.user {
						width: 40px;
						height: 40px;
						border-radius: $radius-15;
					}
					img.flag {
						width: 20px;
						height: 20px;
						border-radius: $radius-5;
					}
				}
				.cx-hover-drop {
					li {
						a {
							display: flex;
							align-items: center;
							.flag {
								width: 20px;
								height: 100%;
								margin-right: 10px;
								border-radius: $radius-5;
								border: 1px solid $border-eee;
							}
						}
					}
				}
				.cx-flag-drop.language {
					.cx-hover-drop-panel {
						min-width: 150px;
					}
				}
				.cx-right-tool.apps {
					.cx-hover-drop-panel {
						min-width: 290px;
						ul {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							li {
								width: 90px;
								a {
									padding: 15px;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									.app {
										width: 35px;
										height: 35px;
										margin-bottom: 5px
									}
								}
							}
						}
					}
				}
				.cx-hover-drop {
					@include ease3;
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					border-radius: $radius-15;
					&:hover {
						background-color: $hover-drop-list;
						.cx-hover-drop-panel {
							margin-top: 0;
							opacity: 1;
							visibility: visible;
						}
					}
					.cx-hover-drop-panel {
						@include ease3;
						min-width: 200px;
						margin-top: 15px;
						padding: 10px;
						position: absolute;
						text-align: left;
						opacity: 0;
						visibility: hidden;
						top: 55px;
						left: auto !important;
						background: $fff;
						box-shadow: $card-shadow;
						display: block;
						z-index: 22;
						border-radius: $radius-15;
						.details {
							padding: 10px 10px 0 10px;
							h6 {
								margin-bottom: 0;
								font-family: $font-family-text;
								font-size: 13px;
								font-weight: 500;
							}
							p {
								margin: 0;
								font-size: 12px;
								font-weight: 400;
							}
						}
						.border-top {
							margin-top: 15px;
							padding-top: 10px;
							border-color: $border-eee;
						}
						ul {
							li {
								a {
									width: 100%;
									padding: 5px 10px;
									display: flex;
									border-radius: $radius-10;
									color: $text-777;
									font-size: 13px;
									&:hover {
										background-color: $hover-drop-list;
									}
									i {
										margin-right: 6px;
										font-size: 17px;
									}
								}
							}
						}
					}
					.cx-hover-drop-panel.right {
						right: 0;
					}
				}
				.cx-right-tool {
					margin-left: 10px;
					.title {
						margin: -10px -10px 10px -10px;
						padding: 15px;
						font-size: 17px;
						font-weight: 700;
						border-bottom: 1px solid $border-eee;
						color: $title-color;
					}
					>a {
						width: 40px !important;
						height: 40px !important;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: $radius-15;
						&:hover {
							background-color: $hover-drop-list;
						}
					}
					i {
						font-size: 21px;
						color: $title-color;
					}
					.cx-notify {
						position: relative;
						.label {
							width: 8px;
							height: 8px;
							position: absolute;
							top: 5px;
							right: 5px;
							background-color: $red;
							border-radius: 50%;
							animation: blinker 2s infinite;
						}
						@-webkit-keyframes blinker {
							0% {
								opacity: 1;
								-webkit-transform: scale(0);
								transform: scale(0);
							}
							80% {
								opacity: 0.8;
							}
							100% {
								opacity: 0;
								-webkit-transform: scale(1);
								transform: scale(1);
							}
						}
					}
					.cx-screen.reset {
						display: none;
					}
					.cx-mode.light {
						display: none;
					}
				}
				.cx-user-drop{
					margin-left: 15px;
				}
			}			
		}
	}
	.cx-toggle-sidebar {
		margin-right: 15px;
		display: flex;
		align-items: center;
		.outer-ring {
			width: 30px;
			height: 18px;
			display: block;
			border: 1px solid $title-color;
			border-radius: 30px;
			position: relative;
			background-color: $main-primary-color;
			.inner-ring {
				@include ease3;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 3px;
				right: 4px;
				border-radius: 30px;
				display: block;
				background-color: #485568;
			}
		}
	}
	.cx-toggle-sidebar.active-toggle {
		.outer-ring {
			.inner-ring {
				left: 4px;
			}
		}
	}
}
.header-search-box {
	.open-search {
		display: none;
	}
	.cx-search {
		position: relative;
		input {
			min-width: 300px;
		}
		.search-btn {
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			right: 5px;
			color: $title-color;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translateY(-50%);
		}
	}
}

/* Responsive css */
@media only screen and (max-width: 991px) {
	.cx-header{
		width: calc(100% - 60px);
		margin: 0 30px 0 30px;
	}
}

@media only screen and (max-width: 767px) {
	.cx-header {
		.cx-header-items{
			flex-direction: column;
			.right-header{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				.cx-header-logo{
					display: flex;
					height: 35px;
					.dark-logo{
						display: flex;
					}
					.white-logo{
						display: none;
					}
				}				
			}
			.left-header{
				width: 100%;
				margin-top: 20px;
				order: 1;
				justify-content: space-between;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.cx-header.sb-hide{
		margin: 0;
		width: 100%;
	}
	.cx-header {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 15px;
		.cx-header-items {
			.right-header {
				.cx-right-tool{
					margin-left: 0;
				}
				.cx-hover-drop {
					width: 50px;
					.cx-hover-drop-panel.right{
						right: -50px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.cx-header {
		.cx-header-items {
			.right-header {
				.cx-header-logo{
					height: 26px;
				}
				.inner-right-header {
					.cx-right-tool > a{
						width: 30px !important;
						height: 30px !important;
					}
					.cx-flag-drop{
						display: none;
					}
					.apps{
						display: none;
					}
				}
				.cx-hover-drop {
					.cx-hover-drop-panel.right{
						right: -100px;
					}
				}
			}
		}
	}
	.header-search-box {
		.cx-search input{
			min-width: 100%;
		}
	}
}

