/** Main Content **/
.cx-main-content.sb-hide {
	width: calc(100% - 60px);
	margin: 30px 30px 0 30px;
}

.cx-main-content {
	@include ease3;
	width: calc(100% - 360px);
	min-height: calc(100vh - 226px);
	margin: 30px 30px 0 330px;
}

/* Responsive css */
@media only screen and (max-width: 991px) {
	.cx-main-content{
		width: calc(100% - 60px);
		margin: 30px 30px 0 30px;
	}
}

@media only screen and (max-width: 575px) {
	.cx-main-content.sb-hide{
		width: calc(100% - 30px);
		margin: 30px 15px 0 15px;
	}
	.cx-main-content{
		width: calc(100% - 30px);
		margin: 30px 15px 0 15px;
	}
}
