/** Sidebar **/
.cx-sidebar.sidebar-hide {
	left: -300px;
}
.cx-sidebar {
	@include ease3;
	width: 300px;
	height: calc(100vh - 60px);
	margin: 30px 0 30px 0;
	background-color: #181e28;
	border-radius: 0 $radius-15 $radius-15 0;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #181e28;
	border-left: 0;
	.cx-sidebar-head {
		padding: 30px;
		border-bottom: 1px solid #293343;
	}
	&:hover {
		.cx-sidebar-body {
			@include hoverscrollbar;
		}
	}
	.cx-sidebar-body {
		@include defaultcrollbar;
		@include ease3;
		height: calc(100% - 96px);
		padding: 30px;
		overflow: auto;
		.cx-sb-list {
			margin: -15px 0;
			.cx-sb-item {
				.cx-drop-toggle {
					padding: 15px 0;
					display: flex;
					color: #b9c2d0;
					font-size: 16px;
					position: relative;
					&:hover {
						color: $main-primary-color;
						i {
							color: $main-primary-color;
						}
					}
					> i {
						@include ease3;
						margin-right: 10px;
						font-size: 24px;
						color: #7b8592;
					}
					.condense {
						> i {
							margin-right: -5px;
							font-size: 22px;
							position: absolute;
							right: 0;
						}
					}
				}
				.cx-drop-toggle.active-nav {
					color: $main-primary-color;
					i {
						color: $main-primary-color;
					}
				}
				.cx-sb-drop {
					margin: 15px 0;
					padding: 15px;
					background-color: #212835;
					border-radius: $radius-15;
					display: none;
					box-shadow: 0 7px 15px 5px rgba(10, 10, 12, 0.2);
					.list {
						padding: 15px;
						a {
							padding-left: 20px;
							color: #9ba6b7;
							display: flex;
							position: relative;
							&:after {
								@include ease3;
								content: "";
								width: 8px;
								height: 8px;
								border: 2px solid #9ba6b7;
								position: absolute;
								top: 46%;
								left: 0;
								border-radius: 50%;
								transform: translateY(-50%);
							}
							&:hover {
								color: #e4eefd;
								&:after {
									border: 2px solid #e4eefd;
								}
							}
						}
						a.active-nav {
							color: #e4eefd;
							&:after {
								border: 2px solid #e4eefd;
							}
						}
					}
				}
			}
			.cx-sb-item-separator {
				width: 100%;
				height: 1px;
				margin: 12px 0;
				padding: 0;
				display: block;
				background-color: #293343;
			}
			.cx-sb-title {
				padding: 12px 0;
				text-transform: uppercase;
				color: #505d74;
				font-size: 13px;
				font-weight: 600;
				position: relative;
				&:after {
					content: "";
					width: 100%;
					height: 1px;
					background-color: #293343;
					display: flex;
					position: absolute;
					top: 26px;
					right: 0;
					z-index: -1;
				}
				span {
					padding-right: 10px;
					background-color: #181e28;
				}
			}
		}
	}
}

/* Responsive css */
@media only screen and (max-width: 991px) {
	.cx-sidebar-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 40;
		display: none;
	}
	.cx-sidebar-overlay-hide {
		display: block;
	}
	.cx-sidebar.sidebar-hide {
		left: 0;
	}
	.cx-sidebar {
		z-index: 40;
		left: -300px;
	}
}

@media only screen and (max-width: 767px) {
	.cx-sidebar {
		.cx-sidebar-body {
			height: 100%;
		}
		.cx-sidebar-head {
			display: none;
		}
	}
}

@media only screen and (max-width: 575px) {
	.cx-sidebar {
		.cx-sidebar-body {
			padding: 15px;
			.cx-sb-list {
				.cx-sb-item {
					.cx-sb-drop{
						padding: 8px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 420px) {
	.cx-sidebar {
		width: 80%;
		left: -80%;
	}
}
