@charset "UTF-8";
// Utilities
@import "utilities/_variables";
@import "utilities/_mixins";
$dark-border: #222835;
$light-border: #2e3442;
$text-fff: #FFFFFF;
$card-bg: #181e28;
$card-bg-light: #222835;
$title-color: #c1cbdc;
$text-color: #9ba5b5;
$hover-text-color: #7d8898;

body {
    background-color: #10141c;
    color: $text-color;
}

input, .form-select, .form-control {
    background-color: $card-bg-light;
    border-color: $dark-border;
    color: $text-color;
    &:focus {
        background-color: $card-bg-light;
        border-color: $dark-border; 
        color: $text-color;
    }
    &::placeholder {
        color: $text-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $title-color;
}

a, p, i {
    color: $text-color;
}

.cx-card, .sub-card {
    background-color: $card-bg;
    border-color: $dark-border;
    .cx-card-header {
        .cx-date-range {
            border-color: $light-border;
            color: $text-color;
        }
        h4 {
            color: $title-color;
        }
    }
    .cx-card-content {
        .cx-chart-header {
            background-color: #10141c;
            border-color: $light-border;
            .block {
                h6 {
                    color: $text-color;
                }
                h5 {
                    color: $title-color;
                }
            }
        }
    }
    .header-tools {
        .icon, .link {
            background-color: transparent;
            border-color: $light-border;
            i {
                color: $text-color;
            }
        }
        .button-add {
            border-color: $light-border;
            color: $text-color;
        }
    }
}

.cx-header {
    background-color: $card-bg;
    border-color: $dark-border;
    .cx-header-items {
        .right-header {
            .inner-right-header{
                .cx-right-tool {
                    .light {
                        i {
                            color: $main-primary-color !important;
                        }
                    }
                    i {
                        color: $text-color;
                    }
                    > a {
                        &:hover {
                            background-color: $card-bg-light;
                        }
                    }
                    .title {
                        color: $title-color;
                        border-color: $light-border;
                    }
                }
                .cx-hover-drop{
                    &:hover {
                        background-color: $card-bg-light;
                    }
                    .cx-hover-drop-panel {
                        background-color: $card-bg-light;
                        ul {
                            li {
                                a {
                                    color: $text-color;
                                    &:hover {
                                        background-color: $card-bg;
                                    }
                                }
                            }
                        }
                        .border-top {
                            border-color: $light-border;
                        }
                    }
                    li {
                        a {
                            .flag {
                                border-color: $dark-border;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cx-notify-bar {
    background-color: $card-bg;
    .cx-bar-title {
        h6 {
            color: $title-color;
        }
    }
    .cx-bar-content {
        .nav.nav-tabs {
            .nav-link.active {
                background-color: $card-bg;
                border-color: $dark-border;
                color: $title-color !important;
            }
            .nav-link {
                color: $text-color;
                &:hover {
                    background-color: $card-bg;
                    border-color: $dark-border;
                    color: $title-color !important;
                }
            }
        }
        .download-files {
            .download {
                border-color: $light-border;
            }
        }
    }
}

.cx-alert-list {
    ul {
        li {
            border-color: $dark-border;
            .title {
                color: $title-color;
            }
            .time {
                color: $text-color;
            }
        }
        .check {
            a {
                color: $title-color;
                border-color: $light-border;
            }
        }
    }
}

.activity-list {
    ul {
        li{
            &:before {
                border-color: $light-border;
            }
            .date-time {
                &:before {
                    border-color: $light-border;
                }
                .time {
                    color: $text-color;
                }
            }
            .title {
                color: $title-color;
            }
            .detail {
                color: $text-color;
            }
        }
    }
}

.cx-message-list {
    ul {
        li {
            border-color: $light-border;
            .detail {
                .name {
                    color: $title-color;
                }
                .time {
                    color: $text-color;
                }
            }
            &:hover {
                .reply {
                    color: $title-color;
                    background-color: $card-bg-light;
                }
            }
        }
        .check {
            a {
                color: $title-color;
                border-color: $light-border;
            }
        }
    }
}

.nav-tabs {
    border-color: $dark-border;
}

.border-top {
    border-color: $light-border !important;
}

.header-search-box {
    .cx-search {
        .search-btn {
            color: $text-color;
        }
    }
}

.form-check {
    input:checked + label:after{
        border-color: $text-color;    
    }
}

footer .copyright {
    background-color: $card-bg;
    border-color: $dark-border;
}

.cx-sidebar {
    border-color: $dark-border;
}

.cx-breadcrumb {
    .cx-page-title {
        h5 {
            color: $title-color;
        }
        ul {
            li {
                color: #586374;
                a {
                    color: $text-color;
                    &:hover {
                        color: $hover-text-color;
                    }
                }
                &:after {
                    color: $text-color;
                }
            }
        }
    }
    .cx-tools {
        > a, .filter {
            background-color: $card-bg-light;
            border-color: $dark-border;
            i {
                color: $title-color;
            }
            &:hover {
                background-color: $card-bg-light;
            }
        }
        .dropdown-toggle {
            border-color: $dark-border;
            &:hover {
                background-color: $card-bg-light;
            }
        }
    }
}

.cx-label-card {
    .title {
        .growth-numbers {
            h5 {
                color: $title-color;
            }
        }
        .icon {
            background-color: #222835;
            i {
                color: $text-color;
            }
        }
    }
}

.owl-carousel.label-cards, .owl-carousel.ecom-label-cards {
    .owl-nav button {
        background: #10141c;
        border-color: $light-border;
        i {
            color: $text-color;
        }
    }
}

.dropdown {
    > a {
        border-color: $light-border;
        i {            
            color: $text-color !important;
        }
    }
}

.dropdown-menu {
    background-color: $card-bg-light;
    border-color: $light-border;
    a {
        color: $text-color;
        &:hover {
            background: #10141c;
            color: $text-color;
        }
    }
}

.apexcharts-canvas {
    svg {
        text {
            color: $text-color !important;
            fill: #aab2bf !important;
        }
    }
}

.apexcharts-legend-text {
    color: $text-color !important;
    fill: #aab2bf !important;
}

div.dataTables_wrapper {
    div.dataTables_length, div.dataTables_filter {
        select {
            border-color: $light-border;
            option {
                background-color: $card-bg;
                border-color: $light-border !important;
            }
        }
    }
}

div.dataTables_wrapper {
    div.dataTables_length, div.dataTables_filter {
        input {
            border-color: $light-border;
            color: $text-color;
            &::placeholder {
                color: $text-color;
            }
        }
    }
    div.dataTables_info {
        color: $text-color;
    }
    div.dataTables_paginate {
        .paginate_button {
            border-color: $light-border !important;
            color: $title-color !important;
            &:hover {
                color: $text-color !important;
            }
        }
        .disabled {
            border-color: $light-border !important;
            color: $text-color !important;
        }
        .paginate_button.current {
            color: $text-color !important;
        }
    }
}

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            border-color: $light-border !important;
        }
        .paginate_button.disabled {
            border-color: $light-border !important;
            color: $text-color !important;
            &:hover {
                color: $text-color !important;
            }
        }
    }
}

.table-responsive {
    table {
        thead {
            tr {
                th {
                    background-color: $card-bg-light;
                    color: $title-color;
                    border-color: $light-border !important;
                    &:first-child, &:last-child {
                        border-color: $light-border !important;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-color: $light-border !important;
                    color: $text-color;
                    .name {
                        color: $title-color;
                    }
                    button {
                        border-color: $light-border;
                        i {
                            color: $text-color;
                        }
                        &:hover, &:focus  {
                            border-color: $light-border !important;
                        }
                    }
                    .btn.show {
                        border-color: $light-border;
                    }
                }
            }
        }
    }
}

.daterangepicker {
    background-color: #10141c;
    border-color: $light-border;
    &:after {
        border-bottom-color: $light-border;
    }
    .ranges {
        li {
            color: $text-color;
        }
    }
    .drp-buttons {
        border-color: $light-border;
    }
    .calendar-table {
        border-color: transparent !important;
        background-color: #10141c !important;
        .next, .prev {
            span {
                border-color: $text-color !important;
            }
        }
        th {
            color: $title-color;
        }
        td {
            color: $text-color;
        }
    }
    th.month {
        color: $title-color;
    }
    td.off {
        color: #586374;
        background-color: #10141c !important;
    }
    td.available{
        &:hover {
            background-color: $card-bg-light;
            color: $title-color;
        }
    }
    .drp-selected {
        color: $title-color;
    }
    .drp-buttons {
        .btn {
            color: $title-color;
        }
        .btn-primary {
            color: #10141c;
        }
    }
}

.daterangepicker.show-ranges {
    .drp-calendar.left {
        border-color: $light-border;
    }
}

.cx-chart-header-2 {
    background-color: #10141c;
    border-color: $light-border;
    .block {
        h6 {
            color: $text-color;
        }
        h5 {
            color: $title-color;
        }
    }
}

.calendar {
    header {
        .simple-calendar-btn {
            border-color: $light-border;
            &:before {
                border-color: $text-color;
            }
            &:hover {
                background-color: $card-bg-light;
            }
        }
        .month {
            color: $title-color;
            .year {
                color: $text-color;
            }
        }
    }
    thead {
        td {
            color: $title-color;
        }
    }
    .day.wrong-month {
        background-color: $card-bg;
        color: #586374;
    }
    .day {
        background-color: $card-bg-light;
        color: $text-color;
    }
    .day.today {
        color: #10141c;
    }
    .day.has-event{
        &:after {
            background-color: $main-primary-color;
        }
    }
}

.cx-chart-detail {
    li {
        .name {
            color: $title-color;
        }
        .data {
            color: $text-color;
        }
    }
}

.todo-list {
    .form-group {
        span {
            color: $title-color;
        }
        &:not(:last-child) {
            border-bottom-color: $light-border !important;
        }
        label {
            .date-time {
                color: $text-color;
            }
        }
    }
}

.cx-label-card.sub-card {
    .growth-numbers {
        h4 {
            color: $title-color;
        }
    }
}

.cx-label-card {
    .title {
        .growth-numbers {
            h4 {
                color: $title-color;
            }
        }
    }
}

.cx-card-body {
    .product-list, .seller-list {
        li {
            background-color: #10141c;
            border-color: $light-border;
            .product-detail {
                h6 {
                    color: $title-color;
                }
            }
            > a {
                border-color: $light-border;
            }
            .sale {
                background-color: $card-bg;
                border-color: $light-border;
                h6 {
                    color: $title-color;
                }
            }
            .detail {
                a {
                    color: $title-color;
                }
            }
        }
    }
}

.todo-list {
    .accordion-item {
        background-color: #10141c;
    }
    .accordion-button {
        color: $text-color;
        &:not(.collapsed) {
            color: $title-color;
            background-color: #10141c;
            border-color: $light-border;
        }
    }
    .form-group {
        span {
            color: $text-color;
        }
    }
    .cx-task-assig {
        li {
            span {
                color: $text-color;
            }
        }
    }
}

.todo-list.project-list {
    .form-group {
        .dropdown {
            button {
                border-color: $light-border;
                i {
                    color: $text-color;
                }
            }
        }
    }
}

.modal-content {
    background-color: #10141c;
    .modal-title {
        color: $title-color;
    }
    input, .form-select, textarea {
        border-color: $light-border !important;
        &:focus {
            background-color: $card-bg;
        }
    }
    .assign-list {
        .form-check-label {
            color: $text-color;
            &:before {
                border-color: $light-border !important;
            }
            &:after {
                border-color: $text-color !important;
            }
        }
    }
}

.col-form-label, .form-label {
    color: $text-color;
}

.daterangepicker {
    select.monthselect, select.yearselect {
        background-color: $card-bg;
        color: $text-color;
        border-color: $light-border !important;
    }
}

.assign-table {
    .assign-person {
        img {
            border-color: $card-bg !important;
        }
    }
}

/** new **/

.cx-chatapp {
    #cx_chat {
        #chat_sidebar{
            background-color: $card-bg-light;
            border-color: $light-border;
            #search{
                border-color: $light-border;
            }
            #contacts {
                ul {
                    li.contact{
                        &:not(:last-child){
                            border-color: $light-border;
                        }
                    }
                }
            }
            .user-tool {
                button{
                    border-color: $light-border;
                }
            }
        }
        .content {
            .contact-profile{
                background-color: $card-bg-light;    
                border-color: $light-border;
                .cx-chat-tools {
                    button{
                        border-color: $light-border;
                    }
                }
            }
            .messages {
                ul {
                    li.replies {
                        p{
                            background-color: $card-bg;
                            border-color: $light-border;
                        }
                    }
                    li.sent {
                        p{
                            background-color: $card-bg-light;
                            border-color: $light-border;
                        }
                    }
                }
            }
            .message-input{
                background-color: $card-bg-light;
                border-color: $light-border;
                .wrap-send {
                    input{
                        border-color: $light-border;
                    }
                    button{
                        border-color: $light-border;
                    }
                }
            }
        }
    }
}

.fc-header-toolbar {
    button{
        border-color: $light-border !important;
        color: $text-color !important;
    }
}

.fc-theme-standard {
    .fc-scrollgrid{
        border-color: $light-border;
    }
    td, th{
        border-color: $light-border;
    }
}

.fc {
    .fc-col-header-cell-cushion{
        color: $title-color !important;
    }
}

.fc-daygrid-day-top {
    a{
        color: $text-color !important;
    }
}

.cx-invoice {
    .invoice-wrapper {
        address{
            color: $text-color;
        }
    }
}

.user-sticky-bar {
    .cx-user-info {
        ul {
            li{
                color: $text-color;
            }
        }
    }
}

.drag-item {
    .tool {
        p{
            color: $text-color;
        }
    }
}

.form-check {
    label{
        color: $text-color;
    }
}

.single-pro-content {
    .cx-single-desc{
        color: $text-color;
    }
    .cx-single-price-stoke {
        .cx-single-sku{
            color: $text-color;
        }
        .mrp{
            color: $text-color;
        }
        .final-price{
            color: $text-color;
        }
    }
}

.user-details {
    ul {
        li{
            color: $text-color;
            strong{
                color: $text-color;
            }
            a{
                color: $text-color;
            }
        }
    }
}

.fc-h-event{
    border-color: $light-border;
    outline-color: $light-border;
    .fc-event-main{
        color: $text-color !important;
    }
}

.drag-column-header {
    h2{
        color: $title-color;
    }
    a{
        background-color: $card-bg-light;
        border-color: $light-border;
        i{
            color: $text-color;
        }
    }
}

.drag-item {
    .body {
        h3{
            color: $title-color;
        }
        .files {
            a {
                i{
                    color: $text-color;
                }
            }
        }
    }
}

.cx-remix-icons .remix-icons{
    color: $text-color;
}

.cx-breadcrumb {
    .cx-page-title-2 {
        h5{
            color: $title-color;
        }
    }
}

.drag-item {
    .body {
        .team {
            a{
                color: $text-color;
            }
        }
    }
}

.category-list {
    .category-item {
        .drop-list{
            background-color: $card-bg-light;
            border-color: $light-border;
            li {
                a{
                    color: $text-color;
                }
            }
        }
        .item {
            a{
                color: $title-color;
            }
        }
    }
}

.cx-product-uploads {
    .avatar-upload {
        .avatar-preview{
            border-color: $light-border;
        }
    }
    .cx-vendor-main-img {
        .thumb-upload-set {
            .thumb-upload {
                .thumb-preview{
                    border-color: $light-border;
                }
            }
        }
    }
}

.bootstrap-tagsinput{
    background-color: $card-bg-light;
    border-color: $light-border;
}

.tag-list li a{
    background-color: $card-bg-light;
    border-color: $light-border;
    color: $text-color;
}

.single-pro-content {
    .cx-single-title{
        color: $title-color;
    }
    .cx-pro-variation {
        .cx-pro-variation-inner > span{
            color: $title-color;
        }
    }
}

.cx-single-pro-tab {
    .tab-content {
        li{
            color: $text-color;
        }
    }
}

.cx-invoice {
    .invoice-wrapper {
        .list-unstyled {
            li {
                span{
                    color: $text-color;
                }
            }
        }
    }
}

.single-pro-img {
    .single-product-scroll{
        background-color: $card-bg;
        border-color: $light-border;
    }
}

.single-pro-content {
    .cx-pro-variation {
        .cx-pro-variation-inner {
            li{
                background-color: $card-bg-light;
                border-color: $light-border;
            }
            li.active{
                color: $text-color !important;
            }
        }
    }
}

.cx-single-pro-tab {
    .nav-item {
        .nav-link{
            background-color: $card-bg-light;
            border-color: $light-border;
            color: $text-color;
        }
        .nav-link.active{
            color: $text-color !important;
        }
    }
}

.cx-single-pro-tab {
    .tab-content{
        background-color: $card-bg-light;
        border-color: $light-border;
    }
}

.cx-single-pro-tab-content {
    .cx-ratting-content {
        h3{
            color: $title-color;
        }
        .cx-ratting-form {
            input, textarea {
                background-color: $card-bg-light;
                border-color: $light-border;
            }
            .cx-ratting-star span{
                color: $text-color;
            }
        }
    }
    .cx-t-review-item {
        border-color: $light-border;
        .cx-t-review-top {
            .cx-t-review-name{
                color: $title-color;
            }
        }
    }
    .cx-product-vendor {
        .cx-vendor-info {
            h5{
                color: $title-color;
            }
        }
        .cx-detail {
            ul {
                li {
                    color: $title-color;
                    span{
                        color: $title-color;
                    }
                }
            }
        }
    }
}

.single-pro-content {
    .cx-single-list {
        ul {
            li{
                color: $text-color;
            }
        }
    }
}

.add-category , .add-sub-category {
    label{
        color: $title-color;
    }
}

.cat-table {
    tbody {
        tr {
            td.name{
                color: $title-color;
            }
            td {
                .cx-sub-cat-tag{
                    color: $text-color;
                }
            }
        }
    }
}

.cx-invoice {
    .invoice-wrapper {
        p{
            color: $title-color !important;
        }
        .note{
            background-color: $card-bg-light;
            border-color: $light-border;
            label{
                color: $title-color;
            }
        }
    }
    .table-responsive {
        border-color: $light-border;
        table {
            tbody {
                tr {
                    td.name{
                        color: $title-color;
                    }
                }
            }
        }
    }
}

.cx-card {
    .header-tools {
        .link, .cx-full-card{
            background: $card-bg;
            border-color: $light-border;
            i{
                color: $text-color;
            }
        }
    }
}

.user-sticky-bar {
    .cx-user-block-detail {
        border-color: $light-border;
        h5{
            color: $title-color;
        }
    }
}

.user-details {
    h3{
        color: $title-color;
    }
    h6{
        background-color: $card-bg-light;
        border-color: $light-border;
        color: $title-color;
    }
}

.cx-invoice .invoice-wrapper .list-unstyled li{
    color: $text-color !important;
}

.cx-code{
    background-color: $card-bg-light;
    border-color: $light-border;
    color: $text-color;
}

.cx-icon-block{
    background-color: $card-bg-light;
    border-color: $light-border;
}

.form-check {
    label {
        &::before{
            background-color: $card-bg;
            border-color: $light-border;
        }
    }
}

.cx-chatapp {
    #cx_chat {
        .content {
            .contact-profile {
                .cx-search-popup {
                    .search.dropdown-menu.show{
                        background-color: $card-bg;
                        input{
                            border-color: $light-border;
                        }
                    }
                }
            }
        }
    }
}

.material-icons {
    div{
        background-color: $card-bg-light;
        border-color: $light-border;
        code{
            border-color: $light-border;
        }
    }
}

.alert-popup {
    ul {
        li{
            background-color: $card-bg-light;
            color: $text-color;
            border-color: $light-border;
        }
    }
}

.material-icons {
    div {
        span{
            color: $text-color;
        }
    }
}

.remix-unicode{
    color: $text-color;
}

.accordion-button{
    background-color: $card-bg-light;
    color: $text-color;
}

.accordion-body{
    color: $text-color;
}

.accordion-item{
    background-color: $card-bg-light;
    border-color: $light-border;
}

@media only screen and (max-width: 767px) {
	.cx-header {
		.cx-header-items{
			.right-header{
				.cx-header-logo{
					.dark-logo{
						display: none;
					}
					.white-logo{
						display: flex;
					}
				}				
			}
		}
	}
}